<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fhx.property">


    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 相机权限 -->
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--写入SD卡的权限：如果你希望保存相机拍照后的照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo2"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fhx.property.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rbUaQmRzQH1XQjDVYWZtHh9Re3mRUZMN" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <!--闪屏-->
        <activity
            android:name=".activity.login.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录界面-->
        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--扫一扫界面-->
        <activity
            android:name=".activity.ScanActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修-->
        <activity
            android:name=".activity.RepairsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--我的报修-->
        <activity
            android:name=".activity.MyRepairsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修详情-->
        <activity
            android:name=".activity.RepairsMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修评价-->
        <activity
            android:name=".activity.RepairsMsgEvaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修评价提交-->
        <activity
            android:name=".activity.RepairsCommitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--设备管理-->
        <activity
            android:name=".activity.EquManageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--背景音乐 广播-->
        <activity
            android:name=".activity.BroadcastActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--背景音乐 广播 详情-->
        <activity
            android:name=".activity.BroadcastMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--临时播放设置-->
        <activity
            android:name=".activity.BroadTempActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--信息发布列表-->
        <activity
            android:name=".activity.InformationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--信息发布列表详情-->
        <activity
            android:name=".activity.InformationMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--信息发布时间实在-->
        <activity
            android:name=".activity.InformationTempActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--智能照明-->
        <activity
            android:name=".activity.LightActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--智能照明设置-->
        <activity
            android:name=".activity.LightSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--水泵 新风 排风 列表页-->
        <activity
            android:name=".activity.WaterPumpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--新风 排风通用详情页-->
        <activity
            android:name=".activity.FreshVentilateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--集水坑详情页-->
        <activity
            android:name=".activity.WaterPumpMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--维护记录-->
        <activity
            android:name=".activity.MaintainRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--账单催缴-->
        <activity
            android:name=".activity.ReminderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--账单详情-->
        <activity
            android:name=".activity.ReminderMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--故障通知-->
        <activity
            android:name=".activity.FaultNotifiActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--故障详情-->
        <activity
            android:name=".activity.FaultNotifiMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--指派处理人-->
        <activity
            android:name=".activity.AssignedHandlerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--租赁管理列表-->
        <activity
            android:name=".activity.LeaseListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--租赁详情-->
        <activity
            android:name=".activity.LeaseMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <!--车辆管理列表-->
        <activity
            android:name=".activity.CarManageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--车辆详情页面-->
        <activity
            android:name=".activity.CarMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--通讯录-->
        <activity
            android:name=".activity.ContactsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--通讯录人员详情-->
        <activity
            android:name=".activity.ContactsMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--通知列表-->
        <activity
            android:name=".activity.NotifyListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--通知列表详情-->
        <activity
            android:name=".activity.NotifyMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--环境监测-->
        <activity
            android:name=".activity.EnvironmentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--通用web页面-->
        <activity
            android:name=".activity.WebActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--修改密码-->
        <activity
            android:name=".activity.mine.ChangePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--投诉反馈-->
        <activity
            android:name=".activity.mine.FeedbackActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--修改个人信息-->
        <activity
            android:name=".activity.mine.ChangeDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--更换手机号-->
        <activity
            android:name=".activity.mine.ChangeNumberActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--更换手机号输入验证码-->
        <activity
            android:name=".activity.mine.ChangeCodeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--修改手机号结果页-->
        <activity
            android:name=".activity.mine.ChangeResultActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--读写日志-->
        <activity
            android:name=".activity.mine.WorkDiaryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--填写日志-->
        <activity
            android:name=".activity.mine.CommitLogActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--日志详情-->
        <activity
            android:name=".activity.mine.ReadLogMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--薪资-->
        <activity
            android:name=".activity.mine.PayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--薪资详情-->
        <activity
            android:name=".activity.mine.PayMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--打卡-->
        <activity
            android:name=".activity.mine.ClockInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--考勤统计-->
        <activity
            android:name=".activity.mine.RecordCheckActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--出勤记录-->
        <activity
            android:name=".activity.mine.ClockDayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--请假-->
        <activity
            android:name=".activity.mine.LeaveActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--提交请假-->
        <activity
            android:name=".activity.mine.LeaveCommitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--提交记录-->
        <activity
            android:name=".activity.mine.LeaveRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--请假详情-->
        <activity
            android:name=".activity.mine.LeaveMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--审批界面-->
        <activity
            android:name=".activity.mine.ExamineActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--补卡-->
        <activity
            android:name=".activity.mine.MakeCardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--补卡详情-->
        <activity
            android:name=".activity.mine.MakeCardMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--任务-设备故障-详情-->
        <activity
            android:name=".activity.TaskFaultMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--任务-投诉建议-详情-->
        <activity
            android:name=".activity.TaskComplainMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--任务-报修-详情-->
        <activity
            android:name=".activity.TaskRepairMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--任务-报修列表-->
        <activity
            android:name=".activity.TaskListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--人员指派-->
        <activity android:name=".activity.TaskChoosePeopleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--图片放大-->
        <activity
            android:name=".activity.ImageMagnifyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>