<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fhx.property">


    <uses-feature android:name="android.hardware.camera" /> <!-- 相机权限 -->
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--写入SD卡的权限：如果你希望保存相机拍照后的照片-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取SD卡的权限:打开相册选取图片所必须的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--报修-->
        <activity
            android:name=".activity.RepairsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修详情-->
        <activity
            android:name=".activity.RepairsMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修评价-->
        <activity
            android:name=".activity.RepairsMsgEvaActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--报修评价提交-->
        <activity
            android:name=".activity.RepairsCommitActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--设备管理-->
        <activity android:name=".activity.EquManageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--背景音乐 广播-->
        <activity android:name=".activity.BroadcastActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--背景音乐 广播 详情-->
        <activity android:name=".activity.BroadcastMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--临时播放设置-->
        <activity android:name=".activity.BroadTempActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--信息发布列表-->
        <activity android:name=".activity.InformationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--信息发布列表详情-->
        <activity android:name=".activity.InformationMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--信息发布时间实在-->
        <activity android:name=".activity.InformationTempActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--智能照明-->
        <activity android:name=".activity.LightActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--智能照明设置-->
        <activity android:name=".activity.LightSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--水泵 新风 排风 列表页-->
        <activity android:name=".activity.WaterPumpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--新风 排风通用详情页-->
        <activity android:name=".activity.FreshVentilateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--集水坑详情页-->
        <activity android:name=".activity.WaterPumpMsgActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--维护记录-->
        <activity android:name=".activity.MaintainRecordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


    </application>

</manifest>